name: Detect Changes

on:
  workflow_call:
    inputs:
      paths:
        required: true
        type: string
        description: "Glob pattern(s) to check for changes (comma-separated or YAML list)"
    outputs:
      has_changed:
        description: "Whether the specified directories/files have changed"
        value: ${{ jobs.changes.outputs.has_changed }}

jobs:
  changes:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
      contents: read
    outputs:
      has_changed: ${{ steps.set-output.outputs.has_changed }}
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2

      - name: Filter paths
        id: filter
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36  # v3.0.2
        with:
          base: ${{ github.event_name == 'push' && github.event.before || '' }}
          filters: |
            has_changed:
            ${{ inputs.paths }}

      - name: Set output
        id: set-output
        run: echo "has_changed=$HAS_CHANGED" >> "$GITHUB_OUTPUT"
        env:
          HAS_CHANGED: ${{ steps.filter.outputs.has_changed }}
